<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>Punto1</display-name>
    <servlet-name>Punto1</servlet-name>
    <servlet-class>wad.p1.Punto1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Punto1</servlet-name>
    <url-pattern>/Punto1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Punto2</display-name>
    <servlet-name>Punto2</servlet-name>
    <servlet-class>wad.p1.Punto2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Punto2</servlet-name>
    <url-pattern>/Punto2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Punto3</display-name>
    <servlet-name>Punto3</servlet-name>
    <servlet-class>wad.p1.Punto3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Punto3</servlet-name>
    <url-pattern>/Punto3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Punto4</display-name>
    <servlet-name>Punto4</servlet-name>
    <servlet-class>wad.p1.Punto4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Punto4</servlet-name>
    <url-pattern>/Punto4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Punto5</display-name>
    <servlet-name>Punto5</servlet-name>
    <servlet-class>wad.p1.Punto5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Punto5</servlet-name>
    <url-pattern>/Punto5</url-pattern>
  </servlet-mapping>
</web-app>